body {
    height: 100vh;
    background: linear-gradient(to top left, #ffcb05, #3c5aa6);
    /* display: flex;
    align-items: center; */
    font-size: 20px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    color: white;
    background-color: #5EBDFC;
    border: 2px solid white;
    width: 250px;
    height: 450px;
    text-align: center;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 1rem;
    margin-inline: 0.5rem;
}

img {
    width: 180px;
    height: 180px;
    background: white;
    border-radius: 50%;
    margin-top: 1rem;
}

.stats {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #4b7bec;
    color: white;
    border: none;
    width: 180px;
    height: 50px;
    font-size: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 45%;
    border-radius: 10px;
}

.button:hover {
    background-color: #191919;
    opacity: 0.75;
}