body {
    height: 100vh;
    background: linear-gradient(to top left, #ffcb05, #3c5aa6);
    display: flex;
    align-items: center;
}

.section {
    position: absolute;
    top: 5%;
    left: 45%;
}

.card-container {
    color: white;
    background-color: #5EBDFC;
    border: 2px solid white;
    width: 250px;
    height: 450px;
    text-align: center;
    box-shadow: 2px 2px 5px 2px black;
    border-radius: 1rem;
}

.stats {
    display: flex;
    justify-content: space-around;
}